<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal" role="form">
	{% if form.vars.errors|length > 0 %}
        <div class="sonata-ba-form-error">
            {{ form_errors(form) }}
        </div>
    {% endif %}
            
<div class="tab-content">
    <ul class="nav nav-tabs">
         <li class="active">
                <a href="#s53bab96c5983b_1" data-toggle="tab">
                    <i class="glyphicon glyphicon-exclamation-sign has-errors hide" data-original-title="" title=""></i>
                    {{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}
                </a>
            </li>
     </ul>

    <div class="tab-content">
    	<div class="tab-pane  active" id="s53bab96c5983b_1">
    		<fieldset><br>
    		<div class="form-group">
    			{{ form_widget(form) }}
            
			</div>
			</fieldset>
		</div>
	</div>
</div>
<div class="well form-actions">
	<button class="btn btn-primary" type="submit" name="btn_create_and_edit" >
        <i class="glyphicon glyphicon-ok"></i>
        {{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}
    </button>
    
    <button class="btn btn-info" type="button" name="btn_back" onclick="window.history.back();" >
        <i class="glyphicon glyphicon-circle-arrow-left"></i>        
    </button>
</div>
</form>
<script>
    $(document).ready(function() {
		$("label").attr("class","control-label required col-lg-2");
		$("label").parent("div").attr("class","form-group");
		$("input").attr("class","form-control");
		$("input").wrap('<div class="col-lg-5"></div>');
	});
</script>